// COLORS FOR TABLE
$table-background-color: #fff;
$table-box-shadow-color: #eee;
$table-border-color: #ddd;
$table-head-background-color: #fff;
$table-head-bottom-color: #ff0011;
$table-head-table-row-border-bottom-color: #ddd;
$table-head-table-row-head: #ff0011;
$table-body-table-row-border-bottom-color: #ddd;
$table-body-table-row-data: #111;
