@import "../modules/flex";
@import "../modules/common";

.carousel-wrapper {
  width: 100%;
  position: relative;
  .carousel-indicator-wrapper {
    @include flex--row-center;
    width: 100%;
    margin-top: 25px;
    .indicator {
      width: 5px;
      height: 5px;
      background: #00000036;
      margin: 0px 5px;
      cursor: pointer;
      border-radius: 50%;
    }
    .indicator.active {
      background: #f44336;
    }
  }
  .left-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    color: #ff5722;
    font-family: cursive;
    cursor: pointer;
    opacity: 0.75;
    left: 10px;
    font-size: 3.2rem;
    font-weight: bold;
  }
  .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    color: #ff5722;
    font-family: cursive;
    cursor: pointer;
    opacity: 0.75;
    right: 10px;
    font-size: 3.2rem;
    font-weight: bold;
  }
  .carousel-content-wrapper {
    width: 100%;
    @include flex--row-center;
    .carousel-body-main-text {
      display: none;
      font-size: 8rem;
      // @include gradient-text(#f44336, #ff9800);
      @include gradient-text(#ff7321, #e91e63);
      font-family: fantasy;
      animation: all 2.5s ease-in-out;
    }
    .carousel-body-main-text.active {
      font-size: 10rem;
      animation: all 2.5s ease-in-out;
      width: 100px;
      height: 100px;
      background-color: #fff;
      border: 5px solid #fff;
      border-radius: 50%;
      justify-content: center;
      display: flex;
      align-items: center;
      padding: 50px;
      box-shadow: 0px 0px 2px #29292982;
    }
  }
}
